.deps/
.pc/
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
config.h
config.h.in
config.h.in~
config.log
config.status
configure
contrib/Makefile
contrib/Makefile.in
doc/.deps/
doc/Makefile
doc/Makefile.in
doc/instdoc.sh
hcachever.sh
imap/.deps/
imap/Makefile
imap/Makefile.in
intl/Makefile
m4/Makefile
m4/Makefile.in
muttbug.sh
po/Makefile
po/Makefile.in
po/POTFILES
stamp-h1
.gitignore
debian/stamp-patched
obj-i486-linux-gnu-patched/
obj-i486-linux-gnu/
tags
