*.c
*.h
*.o

ABOUT-NLS
BEWARE
COPYRIGHT
ChangeLog
GPL
INSTALL
Makefile.am
Makefile.in
NEWS
OPS
OPS.CRYPT
OPS.MIX
OPS.PGP
OPS.SMIME
PATCHES
README
README.SECURITY
README.SSL
TODO
UPDATING
VERSION
aclocal.m4
config.guess
config.h.in
config.sub
configure
configure.ac
contrib/
depcomp
doc/
gen_defs
hcachever.sh.in
imap/
install-sh
intl/
m4/
mime.types
missing
mkchangelog.sh
mkinstalldirs
muttbug
muttbug.sh.in
patchlist.sh
po/
prepare
smime_keys.pl

debian/files
debian/mutt/
debian/mutt-dbg/
debian/*.debhelper.log
debian/mutt-patched/
debian/*.substvars
debian/*.debhelper
debian/stamp-patched
debian/tmp/

.mutt.org
.pc/
obj-*/
.*.swp
